
html {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/*Start of Navigation Styles*/
#trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  margin-left: -55px;
  cursor: pointer;
  background-color: #222;
  border-radius: 4px;
  z-index: 10;
}
#trigger:hover, #trigger:focus {
  margin-left: -48px;
}

#menu {
  position: absolute;
  top: 140px;
  left: 0;
  cursor: pointer;
  background-color: #222;
  color: #fff;
  border-radius: 40%;
  padding: 10px 5px 10px 20px;
  margin-left: 30px;
  float: left;
  font-size: 35px;
}
#menu:hover, #menu:focus {
  color: #00ffff;
}
#slider {
  background-color: #222;
  border: 2px solid #00ffff;
  border-radius: 4px;
  margin-left: -10px;
  z-index: 10;
}

#blog-logo-slider {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
#logoText {
  width: max-content;
  margin: 0 auto;
  padding-bottom: 10px;
  text-shadow: 2px 2px 8px #00ffff;
}
.nav {
  clear: both;
}
.nav-pills {
  width: 100px;
  height: 50px;
  margin: 0 auto;
}
.nav-pills>li+li, #li-1 {
  margin-bottom: 20px; // 2px by default
} 
.nav-pills>li.active {
  margin-bottom: 20px;
  background-color: #00ffff;
  color: #222;
}

.nav-pills>li {
  border: 2px solid #00ffff;
  border-radius: 4px;
  background-color: #fff;
}
.nav-pills>li>a, .nav-pills>li>a:hover {
  padding: 2px 5px;
  border-radius: 4px;
}
a {
    color: #222;
    text-decoration: none;
    background-color: #fff;
}
a:active {
    color: #222;
    text-decoration: none;
    background-color: #00ffff;
}
a:hover {
    color: #222;
    text-decoration: none;
    background-color: #00ffff;
}
.nav-pills>li.active>a, .nav-pills>li>a:focus, 
.nav-pills>li>a:hover, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #222;
    background-color: #00ffff;
}
button {
  font-size: 20px;
  color: #00ffff;
  background-color: #333;
}
button:hover {
  border-color: #00ffff;
}
button:focus { 
  outline:0 !important; 
}
#login-form {
  margin-top: 260px;
}
#post-form label {
  float: left;
}
#close {
  border-radius: 50%;
  position: relative;
  top: 210px;
}
.btn:focus,.btn:active {
   outline: none !important;
}
#search:focus {
  border-color:#00ffff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*End of Navigation Styles*/
  .title {
  	font-size:30px;
  	text-shadow: 3px 3px 3px black, 2px 2px 0px rgba(0,0,0,0.90);
  }

/*The styles below are for the about.html page*/
.bg {
  background: url('https://images.unsplash.com/photo-1459233313842-cd392ee2c388?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 400px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}
.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 3px 3px;
  background:transparent;
  padding: 10%;
}
.abouttext {
  padding-left: 100px;
  text-align: left;
  width:650px;
  font-size:20px;
 }
 .abouttitle {
    margin-left: -75px;
    text-shadow: 3px 3px 3px black, 2px 2px 0px rgba(0,0,0,0.90);
 }
 .abouttagline {
   margin-left: -65px;
  }

#footer {
  line-height: 2;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: 2px solid #00ffff;
  position: absolute;
  width: 100%;
  background-color: #222;
  color: #fff;
  z-index: 10;
}
#footerNav ul li {
  background-color: #222;
  list-style: none;
}
#footerNav ul li a {
  color: #fff;
  background-color: #222;
}
#footerNav ul li a:hover {
  color: #00ffff;
}

#search {
  width: 80%;
  max-width: 200px;
  color: black;
}
#footerSocial {
  height: 100px;
  border-right: 2px solid #00ffff;
  border-left: 2px solid #00ffff;
}
#footerSocial img {
  background-color: #222;
  padding: 5px;
  width: 64px;
  height: 64px;
}

#copyright {
  margin-top: 20px;
} 

@media (max-width: 715px) {
  #copyright {
    margin-top: 40px;
  }   
  #footerSocial img {
    width: 48px;
    height: 48px;
  }
  .bg {
    background-image: no-repeat right center fixed;
  }

}
