
<!DOCTYPE html>

<html ng-app="AudioCurator">
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!-- *** Stylesheets *** -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Stylesheets -->
    <link href="./css/AudioBlog_light.css" rel="stylesheet" type="text/css"/>
    <link href="./css/AudioPlayer_light.css" rel="stylesheet" type="text/css"/>


    <title>Audio Curator</title>

  </head>

  <body ng-cloak ng-controller="mainCtrl" >



    <!-- Main page begins here -->
  <div id="trigger"><span id="menu" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
  </div>
    <div id="header" class="container-fluid">
      <span id="brand"><img id="blog-logo" src="images/headphones.png"/><h1 id="blog-title">Audio Curator</h1></span>  
    </div>
<div id="main" class="container-fluid">
  <div id="lg-spacer">
  </div>
    <div id="lg-spacer">
  </div>
    <div id="lg-spacer">
  </div>
      <div class="row add-margin">
        <div class="col-sm-2">
        </div>
        <div class="col sm-10 col-sm-offset-2">

    <!--======================= SOUNDMANAGER2 PLAYER STARTS HERE! ============================-->

  <div id="player-box">    
    <div id="player">

        <!-- init soundManager2 player -->
        <sound-manager></sound-manager>


            <!-- Play/Pause button and shuffle button -->
            <!-- To change Play or Pause icons you will have to see line 5149 in the angular-soundmanager2.js file -->
            <button play-pause-toggle data-play="Play!" data-pause="Pause!" id="play" ng-click="loopId()"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            <button stop-music id="stop"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
            <!-- Seek buttons -->
            <button next-track id="next"><span class="glyphicon glyphicon-step-forward" aria-hidden="true" "></span></button>
            <button prev-track id="previous"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>

            <!-- Volume buttons -->
            <button music-volume data-type="increase" id="volume-up"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              <span id="vol-icon" class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
            <button music-volume data-type="decrease" id="volume-down"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
            <!-- Position Markers --> 
            <h5 class="progress-label">{{ currentPostion || "00:00"}}</h5>
            <h5 class="progress-label-after">{{ currentDuration }}</h5>
            <!-- Seekbar -->
            <div class="progress seekBase" seek-track>
              <div class="progress-bar progress-bar-info seekLoad" ng-style="{width : ( progress + '%' ) }" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><span class="sr-only"></span>
              </div>
            </div>
            <!-- Title Marquee-->
            <div class="marquee" ng-if="currentTitle"><h4>Now Playing: {{currentTitle}} </h4></div>

    </div>
  </div>
    
    <!--======================= SOUNDMANAGER2 PLAYER ENDS HERE! ============================-->




    <div id="lg-spacer">
    </div>
  </div>
</div>



<!-- Blog posts start here, but should we move to blog.html? -->
<div class="row content">
      <div class="col-sm-11 col-sm-offset-1">
          <div class="row">

            <div class="col-md-7 col-md-offset-1">


              <!-- STATES ATTACH HERE! -->        <!-- STATES ATTACH HERE! -->
              <ui-view></ui-view>
              <!-- STATES ATTACH HERE! -->        <!-- STATES ATTACH HERE! -->


              <div class="well blog-post" ng-repeat="post in postHistory | filter: search">
                <div class="row">
                  <div class="col-xs-2">
                    <img class="track-art" ng-if='post.trackInfo.art' src={{post.trackInfo.art}}>
                  </div>  
                  <div class="col-xs-8 col-xs-offset-2 text-center">
                    <h3>{{post.trackInfo.title}}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p ng-hide="readytoupdate">{{post.body}} Lorizzle bizzle dolor crackalackin amet, bizzle adipiscing elit. Nullizzle shiznit velizzle, break it down volutpat, suscipizzle shit, gravida ghetto, arcu. Away eget crazy. Sizzle eros. Dizzle uhuh ... yih! dolizzle dapibizzle pizzle cool shiz. Mauris pot tellivizzle izzle shiznit. Vestibulum izzle yippiyo. Pellentesque fo shizzle my nizzle rhoncizzle black. Pimpin' fizzle habitasse platea dictumst. Shiznit dapibizzle.</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                  <a href="https://soundcloud.com/jeslynlane"><span class="glyphicon glyphicon-link" aria-hidden="true" "></span> Listen on SoundCloud</a>
                  <div class="author"><h5> - {{post.postedBy}}</h5></div>
                  </div>
                </div>  

                  <div class="row">
                  <div class="col-xs-12">
                  <h5 class="date">Posted on {{post.displaydate}}</h5>
                  </div>
                  </div>

                  <form ng-show="readytoupdate" ng-submit="update(post)">
                    <div class="input-field">
                      <input ng-model= "post.body"/>
                      <input type="submit"/>
                      <button ng-click="readytoupdate=false">cancel</button>
                    </div>
                  </form>

                  <div ng-show="isLoggedIn">  
                    <button ng-hide="readytodelete" ng-click="readytodelete=true">delete</button>
                    <button ng-show="readytodelete" ng-click="readytodelete=false">cancel</button>
                    <button ng-show="readytodelete" ng-click="remove(post._id)">delete</button>
                    <button  ng-hide="readytoupdate" type="button" ng-click="readytoupdate =true">edit</button>
                  </div>  
              </div>


            </div>
              <div class="col-md-4 widgettext side-bar">
               <div class="well side-bar">
                  <div><p>Our first public show as a touring duo is tonight in Bozeman! We&#039;re kicking off our tour together at Red Brain Media...</p>Posted by <a href="https://www.facebook.com/AaronHowardMusic/">Aaron Howard</a> on&nbsp;Thursday, June 2, 2016</a>
                  </div>
               </div>

               <div id="sm-spacer">
               </div>

               <div class="well side-bar">
               <center>
               Check out my Music on SoundCloud<br><br><iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fjeslynlane&color=orange_white&size=64" style="width: 64px; height: 64px;"></iframe></center>
               </div>
                <div class="well" id="twitWidget">
                  <a class="twitter-timeline" href="https://twitter.com/ChaliceAriel">Tweets by @ChaliceAriel</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              </div>
          </div>
        </div>

      </div>

      <div id="lg-spacer">
      </div>
      <div id="lg-spacer">
      </div>
    </div><!-- *** End of #Main (Image Background section) *** -->


    <!-- *** Footer *** -->
    <div id="footer" >
      <div class="container">
        <div class="row">
          <div id="footerContact" class="col-xs-4">
            <i class="glyphicon glyphicon-search"></i>
            <input id="search" type="text" name="Search"/>
          </div>
          <div id="footerSocial" class="col-xs-4 text-center">
            <a href="#"><img src="images/fbook_light.png" alt="facebook link" /></a>
            <a href="#"><img src="images/tweet_light.png" alt="twitter link" /></a>
            <a href="#"><img src="images/github_light.png" alt="github link" /></a>
          </div>
          <div id="footerNav" class="navbar-nav col-xs-4">
            <ul>
              <li class="active"><a ui-sref='home'>Home</a></li>
              <li><a ui-sref='about'>About</a></li>
              <li><a ui-sref='contact'>Contact</a></li>
            </ul>
          </div>
        </div>
        <p id="copyright" class="text-center">Copyright &copy; AudioCurator 2016</p>
      </div>
    </div>

        <!-- *** SLIDER BEGIN!!! *** -->
    <div id='slider' class="text-center">
      <div id="sm-spacer">
      </div>
      <div id="logo">
        <img id="blog-logo-slider" src="./images/headphones.png"/>
        <h3 id="logoText">Audio Curator</h3>
      </div>
      <ul class="nav nav-pills nav-stacked text-center">
        <li><a href="index.html">Concert Connoisseur</a></li>
        <li class="active"><a href="example2.html">Indie Girl</a></li>
        <li><a href="example3.html">Head Banger</a></li>
        <li><a href="example4.html">Hip-Hop Mountain</a></li>
        <li><a href="about.html">About</a></li>
        <!-- showAuthForm is a variable that toggles between true and false when this div is clicked to hide or show the login/register form -->
        <li ng-show='showLoginButton' ng-click='showAuthForm = showAuthForm ? false : true'>
          <a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li ng-hide='showLoginButton' ng-click='logout()'>
          <a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul><br>
      <button id="close"><span class="glyphicon glyphicon-remove"></span></button>


      <!-- Login and registration section at bottom of slider -->
      <div class="auth" ng-show="showAuthForm">
        <div class="login" ng-show="loginOrRegister">
          <form id="login-form" ng-submit="login(user); clearLogin()">
            <input ng-model='user.email' type="text" placeholder="Email" value="">
            <input ng-model='user.password' type="password" placeholder="Password" value=""><br>
            <button id="loginbutton" type="submit">Login</button>
            <button class="new-account" ng-click='loginOrRegister=false'>Create New Account</button>
          </form>
        </div>

        <div id="register" class="register" ng-hide="loginOrRegister">
          <form ng-submit="register(newUser); clearLogin()">
            <input ng-model='newUser.displayName' type="text" placeholder="Display Name" value=""><br>
            <input ng-model='newUser.email' type="text" placeholder="Email" value="">
            <input ng-model='newUser.password' type="password" placeholder="Password" value=""><br>
            <button class="registerbutton" type="submit">Register & Login</button>
            <button ng-click='loginOrRegister=true'>Log In</button>
          </form>
        </div>
      </div>
      <!-- End login / registration section -->

    </div>

     <!-- *** SLIDER END!!! *** -->



    <!-- *** JavaScripts *** -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="./dist/jquery.slidereveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="https://connect.soundcloud.com/sdk.js"></script>
    <script src="./dist/angular-soundmanager2.js"></script>

    <!-- Custom Angular Scripts -->
    <script src="./app.js" type="text/javascript"></script>
    <script src="./controllers/mainCtrl.js" type="text/javascript"></script>
    <script src="./controllers/SoundCloudCtrl.js" type="text/javascript"></script>
    <script src="./controllers/mainServ.js" type="text/javascript"></script>
    <script src="./controllers/SoundCloudServ.js" type="text/javascript"></script>
    <script src="./controllers/adminCtrl.js" type="text/javascript"></script>
    <script>
    /*http://nnattawat.github.io/slideReveal/*/

    var slider = $('#slider').slideReveal();

    $("#trigger").click(function(){
      var slider = $('#slider').slideReveal({
        push: false,
        overlay: true,
        overlayColor: "rgba(0,0,0,0.5)",
        autoEscape: true
      });

      slider.slideReveal("toggle", false);
    })

    $("#close").click(function() {

        $("#slider").slideReveal({
          push: false,
          overlay: false,
          autoEscape: true
        });

    });

    $("#loginbutton").click(function() {

        $("#slider").slideReveal({
          push: false,
          overlay: false,
          autoEscape: true
        });

    });

    $("#admin-button").click(function() {

        $("#slider").slideReveal({
          push: false,
          overlay: false,
          autoEscape: true
        });

    });

    $("#slider-menu").children().click(function() {

        $("#slider").slideReveal({
          push: false,
          overlay: false,
          autoEscape: true
        });
    });

    </script>
  </body>
</html>